<a href="https://colab.research.google.com/github/yousef3830/Exercises-and-Assignments/blob/main/Pandas/Pandas_Assignment_1_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading/Exploring the data

Load the iris.csv file into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [21]:
import pandas as pd

Read the `iris.csv` dataset into an object named `iris`

In [22]:
iris_df = pd.read_csv("/content/iris 1.csv")

How many different species are in this dataset?

In [23]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [24]:
num_species = iris_df['species'].nunique()
print("Number of species:", num_species)

Number of species: 3

What are their names?

In [25]:
species_names = iris_df['species'].unique()
print("Species names:", species_names)

Species names: ['setosa' 'versicolor' 'virginica']

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [26]:
samples_per_species = iris_df['species'].value_counts()
print("Samples per species:")
print(samples_per_species)

Samples per species:
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [27]:
iris_df['sepal_ratio'] = iris_df['sepal width (cm)'] / iris_df['sepal length (cm)']

Create a similar column called `'petal_ratio'`: petal width / petal length

In [28]:
iris_df['petal_ratio'] = iris_df['petal width (cm)'] / iris_df['petal length (cm)']

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [29]:
iris_df['sepal length (in)'] = iris_df['sepal length (cm)'] * 0.393701
iris_df['sepal width (in)'] = iris_df['sepal width (cm)'] * 0.393701
iris_df['petal length (in)'] = iris_df['petal length (cm)'] * 0.393701
iris_df['petal width (in)'] = iris_df['petal width (cm)'] * 0.393701

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


Hint 1
Create a dictionary using the species as keys and the numbers 0-2 for values


Hint 2
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column

In [30]:
species_mapping = {'setosa': 0, 'versicolor': 1, 'virginica': 2}
iris_df['encoded_species'] = iris_df['species'].map(species_mapping)
print(iris_df[['species', 'encoded_species']].head())

  species  encoded_species
0  setosa                0
1  setosa                0
2  setosa                0
3  setosa                0
4  setosa                0

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [31]:
seeds = pd.read_csv("/content/ncaa-seeds 1.csv")
print(seeds.head())

  team_seed opponent_seed
0       01N           16N
1       02N           15N
2       03N           14N
3       04N           13N
4       05N           12N

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [32]:
seeds['team_division'] = seeds['team_seed'].apply(lambda x: x[-1])
seeds['opponent_division'] = seeds['opponent_seed'].apply(lambda x: x[-1])

print(seeds.head())

  team_seed opponent_seed team_division opponent_division
0       01N           16N             N                 N
1       02N           15N             N                 N
2       03N           14N             N                 N
3       04N           13N             N                 N
4       05N           12N             N                 N

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

In [33]:
seeds['team_seed'] = seeds['team_seed'].apply(lambda x: int(x[:-1]))
seeds['opponent_seed'] = seeds['opponent_seed'].apply(lambda x: int(x[:-1]))

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>

In [34]:
seeds['seed_delta'] = seeds['team_seed'] - seeds['opponent_seed']

print(seeds.head())

   team_seed  opponent_seed team_division opponent_division  seed_delta
0          1             16             N                 N         -15
1          2             15             N                 N         -13
2          3             14             N                 N         -11
3          4             13             N                 N          -9
4          5             12             N                 N          -7